<nav class="navbar" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 class="is-size-4 has-text-weight-semibold">Quiz App</h1>
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu">

    <% if(user) { %>
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
        <a class="navbar-item" href="/quizzes">
          My Quizzes
        </a>
        <a class="navbar-item" href='/attempts'>
          Quiz Results
        </a>
      </div>
      <% } %>

        <div class="navbar-end is-flex is-justify-content-right">
          <% if (user) { %>
            <div class="navbar-item">
              <span class="navbar-item">
                Logged in as:
                <%= user.name %>
              </span>
            </div>
            <% } %>
              <div class="navbar-item">
                <div class="buttons">
                  <% if(user) { %>
                    <form action="/logout" method="post">
                      <a class="button is-light" href='/logout'>
                        Logout
                      </a>
                    </form>
                    <% } else { %>
                      <a disabled class="button is-primary" href="/">
                        <strong>Sign up</strong>
                      </a>
                      <a disabled class="button is-light" href='/'>
                        Log in
                      </a>
                      <% } %>
                </div>
              </div>
        </div>

  </div>

</nav>
