<li class="quiz-list-item my-5">
    <a href="/quizzes/<%- quiz.quiz_identifier %>">
      <div class="card">
        <div class="card-header">
          <h3 class="card-header-title is-size-5">
            <%- question %>
          </h3>
        </div>
        <footer class="card-footer">
            <div class="card-footer-item">
                <% for (question of questions) { %>
                  <% for (option of question.options) { %>
                    <input type="radio"><%- option.option %><br/>
                  <% } %>
                <% } %>  
                </span>
              </div>
         
        </footer>
      </div>
    </a>
  </li>
  