<li class="card q-card mt-6">
    <a href="/quizzes/<%- quiz.quiz_identifier %>">
      <div class="card q-card mt-6">
        <div class="card-content">
          <h3 class="card-header-title is-size-5">
            <%- question %>
          </h3>
        </div>
        <footer class="card-footer">
            <div class="card-footer-item">
                <% if (question) { %>
                    <% for (option of question.options) { %>
                        <input type="radio"><%- option.option %>
                    <% } %>
                <% } %>  
                </span>
              </div>
         
        </footer>
      </div>
    </a>
  </li>
  