<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz App</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/create_quiz.js"></script>
</head>

<body>
  <%- include('partials/_navbar'); %>
    <section id="create-quiz" class="container padded">
      <h1 class="is-size-2 has-text-white has-text-weight-bold my-5">Create a Quiz</h1>
      <div class="box">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" placeholder="Quiz Title">
          </div>
        </div>
        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <textarea class="textarea" placeholder="Quiz Description"></textarea>
          </div>
        </div>
      </div>
      <div id="questions-container" class="container"></div>
      <button id="add-question" class="add-question button is-info has-text-weight-bold">Add Question</button>
    </section>
</body>

</html>
